* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    height: 100%;
    background-image: url(images/bakgrunn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}



.L {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin: 20px;
}

.M {

    font-family: "Press Start 2P", system-ui;
    font-weight: 200;
    font-style: normal;
    color: white;
    font-size: small;
    width: 80%;
    margin: auto;
    letter-spacing: 2px;
    line-height: 18px;


}

.S {

    font-family: "Press Start 2P", system-ui;
    font-weight: 200;
    font-style: normal;
    color: white;
    font-size: small;
    width: 80%;
    margin: auto;
    letter-spacing: 2px;
    line-height: 18px;
    font-size: 10px;
    margin-bottom: 30px;


}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 80%;
    margin: auto;
}

canvas {
    background: black;
    display: block;
    margin: 7px auto;
    width: 700px;
    height: 400px;

}

#spillbrett2 {

    background: black;
    display: block;
    margin: 20px auto;
    width: 700px;
    height: 400px;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 90%;

}

.Knapp {
    padding: 20px;
    border: white solid 5px;
    text-align: center;
    text-wrap: nowrap;
    color: white;
    font-family: "Press Start 2P", system-ui;
    width: fit-content;
    margin: 10px;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.Knapp:hover {
    background-color: white;
    color: purple;
    cursor: pointer;
    transition: 0.3s;

}

.tekstboks {
    border: 4px white dotted;
    padding: 20px;
}

@media (max-width: 600px) {
    footer {
        flex-direction: column;
    }

}

@media (max-width: 750px) {
    canvas {
        width: 500px;
        height: 285.71px;
    }

    
    #spillbrett2{

        width: 500px;
        height: 285.71px;
        
    }
}

@media (max-width: 510px) {
    canvas {
        width: 300px;
        height: 171.43px;
    }

    #spillbrett2{
        width: 300px;
        height: 171.43px;
    }

    .Knapp {
        padding: 10px;
        border: white solid 3px;
        text-align: center;
        text-wrap: nowrap;
        color: white;
        font-family: "Press Start 2P", system-ui;
        width: fit-content;
        margin: 10px;
        text-decoration: none;
    }


}

@media (max-width: 440px) {
    .L {
        font-size: 20px;
    }

    .M {
        font-size: 12px;
    }

    .S {
        font-size: 7px;
    }
}